*{
    font-family: "Montserrat-reg";
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat-reg";
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-bold";
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-light";
    src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}
html,body{
    background-image: url(../images/afcc3098287541.5ed8c6b7423fd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow-x: clip;
    .blur{
        backdrop-filter: blur(5px);
        height: 100%;
        width: 100%;
    }
}
a{
    text-decoration: none;
    color: #ffffff;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
// HEADER///
header{ 
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    .header_navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        background: rgba($color: #ffffff, $alpha:.1 );
        a{
            opacity: .7;
            &:hover{
                opacity: 1;
                transition: .3s;
            }
        }
    }
    .menu_burger{
        display: none;
        width: 50px;
        height: 50px;
        margin-top: 20px;
        position: fixed;
        z-index:2;
        right: 0px;
        overflow: hidden;
        background-color: rgb(23, 64, 10, .1);
        border-radius: 50%;
        span{
            width: 50px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffffff;
            transition: all 0.5s;
            border-radius: 20px;
            
            &:nth-of-type(2){
                top: calc(50% - 5px);
            }
            &:nth-of-type(3){
                top: calc(50% + 5px);
            }
        }
           
    }
    @media  (max-width:768px ){
        .header_navbar{
            display: none;
        }
        .menu_burger{
            display: block;
        }
    }
    .header_main{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        .header_main_info{
            display: flex;
            width: 90%;
            .main_info_title{
                width: 80%;
                color: #fff;
                display: flex;
                flex-direction: column;
                padding-top: 100px;
                gap: 40px;
                margin-left: 100px;
                h1{
                    font-family: "Montserrat-bold";
                    font-size: 35px;
                    line-height: 40px;
                }
                a{
                    padding: 25px 30px;
                    background-color: #c88754;
                    width: fit-content;
                    font-size: 15px;
                    box-shadow: 0px -20px 20px 0px inset #7e502b;
                    font-family: "Montserrat-bold";
                    margin-top: 20px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    &:hover{
                        transition: .3s;
                        box-shadow: none;
                    }
                    i{
                        font-size: 19px;
                        margin-left: 10px;
                    }
                }
               
                
                .main_title_cards{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10%;
                    .card{
                        font-size: 25px;
                        margin-top: 10px;
                        border-radius: 5px; 
                        padding-left: 10px;
                        background: linear-gradient(90deg, #1d400a 0%, rgb(23, 64, 10, 0.11) 100%, rgb(23, 64, 10) );
                    }
                }

            }
            
            @media ( max-width:768px){
                .main_info_title{
                    width: 80%;
                    align-items: center;
                    text-align: center;
                    .main_title_cards{
                        width:100%;
                    }
                }
            }   
            @media (max-width:425px){
                .main_info_title{
                    width: 100%;
                    margin-left: 0;
                    text-align: left;
                    align-items: flex-start;
                }
            }       
            .social_media{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 20%;
                i{
                    font-size: 25px;
                    color: orange;
                }
                a:hover{
                    opacity: .7;
                }
                .line{
                    height: 30%;
                    border-right: orange .5px solid;
                }
            }
            @media (max-width:768px ) {
                .social_media{
                    display: none;
                }
            } 
            
        }
        
        @media (max-width:768px ) {
            .header_main_info{
                width: 80%;
            }
        }
        .header_main_play{
            width: 30%;
            height: auto;
            display: flex;
            align-items: center;
            a{
                border-radius: 50%;
                padding: 45px 55px 45px 55px;
                border: 1px solid orange;
                position: relative;
                i{
                    font-size: 70px;
                    margin: 0 auto;
                    margin-left: 5px;
                    color: orange;
                }
                &:hover{
                    color: #ff994b;
                    background-color: #ffffff;
                    transition: .3s;
                }
                
                [data-tooltip]::after {
                    content: attr(data-tooltip); /* Выводим текст */
                  }
                  [data-tooltip]::after {
                    opacity: 0;
                  }[data-tooltip]::after {
                    transition: .3s;
                  }[data-tooltip]::after {
                    pointer-events: none;
                  }[data-tooltip]:hover::after {
                    opacity: 1;
                  }[data-tooltip] {
                    position: absolute; 
                    top: 40px;
                    right: 5px;
                    width: 150px;
                    height: 100px;
                    color: orange;
                   }
                   [data-tooltip]::after {
                    content: attr(data-tooltip); /* Выводим текст */
                    position: absolute; /* Абсолютное позиционирование */
                    left: -100px; top: 40px; /* Положение подсказки */
                    background: #108e51; /* Синий цвет фона */
                    color: #fff; /* Цвет текста */
                    padding: 0.5em; /* Поля вокруг текста */
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
                    pointer-events: none; /* Подсказка */
                    opacity: 0; /* Подсказка невидима */
                    transition: .5s; /* Время появления подсказки */
                    border-radius: 40px;
                   } 
                   [data-tooltip]:hover::after {
                    opacity: .7; /* Показываем подсказку */
                    top: 2em; /* Положение подсказки */
                   }
            }
            
        }
        @media (max-width:768px ) {
            .header_main_play{
                display: none;
            }
        }
    }
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: rgb(23, 64, 10,  );
        transform: translateX(-100%);
        transition: transform 0.5s; 
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        nav{
            width: 90%;
            height: 70%;
            text-align: center;
            ul{
                justify-content: space-around;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                li{
                    list-style: none;
                    a{
                        font-size: 30px;
                        font-family: "Montserrat-bold";
                    }
                }
               
            }
        }
        .social_media{
            display: flex;
            width: 100%;
            justify-content: space-around;
            a{
                i{
                    color: #ff994b;
                    font-size: 60px;
                }
            }
        }
    }
    
}

.active {
    transform: translateX(0)!important;
    span:nth-of-type(1) {
        display: none;
    }
    span:nth-of-type(2) {
    top: calc(50% - (-3px))!important;
    transform: translate(-50%, 0%) rotate(46deg);  
    }
    span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-46deg); 
    }
}   
// MAIN
main{
    position: relative;
    width: auto;
    height: fit-content;
    padding-top: 100px; 
    color: #fff;
    .desicions{
        width: 80%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        .text{
            display: flex;
            align-items: center;
            width: fit-content;
            margin: 100px auto;
            h1{
                color: #fff;
                font-size: 40px;
                line-height: 45px;
                margin: 0 10px;  
                font-family: "Montserrat-bold";
                &:nth-child(2){
                    color: orange;
                }
            }
            
        }
        .desicion_cards{
            width: 90%;
            margin: 50px auto;
            display: grid;
            grid-template-columns: repeat(3,33.333333%);
            row-gap: 30px;
            column-gap: 0;
            grid-template-rows: repeat(2, 50%);
            height: auto;
            .card{
                width: 90%;
                height: 100%;
                background-color: #d2d2d2;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                img{
                    width: 100%;
                    height: auto;
                }
                .card_title{
                    text-align: center;
                    p{
                        color: #000;
                        font-size: 18px;
                        font-family: "Montserrat-bold";
                    }
                    button{
                        padding: 15px 30px;
                        background-color: #c88754;
                        width: fit-content;
                        font-size: 15px;
                        box-shadow: 0px -25px 20px 0px inset #7e502b;
                        font-family: "Montserrat-bold";
                        margin-top: 20px;
                        border-radius: 5px;
                        color: white;
                        border: none;
                        cursor: pointer;
                        &:hover{
                            box-shadow: none;
                            transition: .3s;
                        }
                    }
                }
            }
        }
        .modal_window{
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            z-index: 100;
            align-items: center;
            .window{
                background-color: #fff;
                height: auto;
                padding: 10px 10px;
                width: 70%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                border-radius: 20px;
                img{
                    width: 50%;
                }
                .window_title{
                    color: #000;
                    text-align: center;
                    width: 50%;
                    height: auto;
                    overflow-y: scroll;
                    a{
                        padding: 10px 20px;
                        background-color: #c88754;
                        text-decoration: none;
                    }
                }
            }
            @media (max-width:550px) {
                .window{
                    width: 99%;
                }
            }
            @media (max-width:425px) {
                .window{
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    height: 60vh;
                    img{
                        width: 100%;
                    }
                    .window_title{
                        width: 90%;
                    }
                }
            }
        }
        .hidden{
            display: none;
        }
        @media (max-width:768px) {
            .desicion_cards{
                display: flex;
                flex-direction: column;
                .card{
                    margin: 0 auto;
                }
            }
            .text{
                margin: 0 auto;
                flex-direction: column;
            }
        }
        @media (max-width:550px){
            .desicion_cards{
                display: flex;
                flex-direction: column;
                .card{
                    padding-bottom: 10px;
                    .card_title{
                        button{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

    }
    @media (max-width:505px) {
        .desicions{
            width: 95%;
        }
    }
    .job_imgs{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        .imgs_title{
            display: flex;
            width: auto;
            margin-top: 150px;
            h1{
                font-size: 40px;
                margin-left: 7px;
                font-family: "Montserrat-bold";
                &:first-child{
                    margin: 0;
                }
                &:nth-child(2){
                    color: orange;
                }
            }

        }
        @media (max-width:450px) {
            .imgs_title{
                flex-direction: column;
                align-items: center;
            }
        }
        .image_cards{
            width: 100%;
            margin-top: 50px;
            height: 60%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);
            gap: 15px;
            .img_card{
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                height: 100%;
                position: relative;
                background-image: url(../images/information_items_property_254476.webp);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                &:hover{
                    transform: translate(0px, 5px);
                    transition: .3s;
                    box-shadow: 10px 10px 10px rgba(94, 94, 94, 0.3);
                }
                .card_bg{
                    position: relative;
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    &:hover{
                        background-image: url(../images/etag1.jpg);
                        background-position: center ;
                        transition: .7s;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    .card_title{
                        width: 100%;
                        height: auto;
                        padding-bottom: 10px;
                        padding-top: 20px;
                        position: absolute;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.7);
                        h2{
                            color: #ffffff;
                        }
                    }
                }  
                
            }
            
            
        }
        @media (max-width:768px) {
            .image_cards{
                display: flex;
                flex-direction: column;
                height: 100%;
                
            }
        }
        @media (max-width:320px) {
            .image_cards{
                display: flex;
                flex-direction: column;
                height: 100%;
                .img_card{
                    height: 30%;
                }
            }
        }
        
    } 
    @media (max-width:767.9px) {
        .job_imgs{
            height: 160vh;
        }
    }
    
}

// FOOTER
footer{
    width: 100%;
    height: auto; 
    text-align: center;
    .footer_container{
        margin-top: 100px;
        color: #fff;
    } 
}
