*{
    font-family: "Montserrat-reg";
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat-reg";
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-bold";
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-light";
    src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}
html,body{
    background-image: url(../images/body_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow-x: clip;
}
a{
    text-decoration: none;
    color: #ffffff;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
@media (max-width:320px) {
    .container{
        width: 95%;
    }
}
// HEADER///
header{ 
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    .header_navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        background: rgba($color: #ffffff, $alpha:.1 );
        a{
            opacity: .7;
            &:hover{
                opacity: 1;
                transition: .3s;
            }
        }
    }
    .menu_burger{
        display: none;
        width: 50px;
        height: 50px;
        margin-top: 20px;
        position: fixed;
        z-index:2;
        right: 0px;
        overflow: hidden;
        background-color: rgb(23, 64, 10, .1);
        border-radius: 50%;
        span{
            width: 50px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffffff;
            transition: all 0.5s;
            border-radius: 20px;
            
            &:nth-of-type(2){
                top: calc(50% - 5px);
            }
            &:nth-of-type(3){
                top: calc(50% + 5px);
            }
        }
           
    }
    @media  (max-width:768px ){
        .header_navbar{
            display: none;
        }
        .menu_burger{
            display: block;
        }
    }
    .header_main{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .header_main_info{
            display: flex;
            width: 100%;
            .main_info_title{
                width: 80%;
                color: #fff;
                display: flex;
                flex-direction: column;
                padding-top: 100px;
                gap: 40px;
                margin-left: 100px;
                h1{
                    font-family: "Montserrat-bold";
                    font-size: 35px;
                    line-height: 40px;
                }
                a{
                    padding: 25px 30px;
                    background-color: #c88754;
                    width: fit-content;
                    font-size: 15px;
                    box-shadow: 0px -20px 20px 0px inset #7e502b;
                    font-family: "Montserrat-bold";
                    margin-top: 20px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    &:hover{
                        transition: .3s;
                        box-shadow: none;
                    }
                    i{
                        font-size: 19px;
                        margin-left: 10px;
                    }
                } 
                .main_title_cards{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10%;
                    .card{
                        font-size: 25px;
                        margin-top: 10px;
                        border-radius: 5px; 
                        padding-left: 10px;
                        background: linear-gradient(90deg, #1d400a 0%, rgb(23, 64, 10, 0.11) 100%, rgb(23, 64, 10) );
                        p{
                            font-size: 20px;
                        }
                    }
                }

            }
            
            @media ( max-width:768px){
                .main_info_title{
                    width: 100%;
                    align-items: center;
                    text-align: center;
                    .main_title_cards{
                        width:100%;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }   
            @media (max-width:425px){
                .main_info_title{
                    width: 100%;
                    margin-left: 0;
                    text-align: left;
                    align-items: flex-start;
                }
            }       
            .social_media{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 20%;
                i{
                    font-size: 25px;
                    color: orange;
                }
                a:hover{
                    opacity: .7;
                }
                .line{
                    height: 30%;
                    border-right: orange .5px solid;
                }
            }
            @media (max-width:768px ) {
                .social_media{
                    display: none;
                }
            } 
            
        }
        
        @media (max-width:768px ) {
            .header_main_info{
                width: 80%;
            }
        }
        .header_main_play{
            width: 30%;
            height: auto;
            display: flex;
            align-items: center;
            button{
                border-radius: 50%;
                padding: 45px 55px 45px 55px;
                border: 1px solid orange;
                background: transparent;
                cursor: pointer;
                i{
                    font-size: 70px;
                    margin: 0 auto;
                    margin-left: 5px;
                    color: orange;
                }
                &:hover{
                    color: #ff994b;
                    background-color: #ffffff;
                    transition: .3s;
                }
                
            }
            
        }
        @media (max-width:768px ) {
            .header_main_play{
                display: none;
            }
        }
    }
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 15px;
        background: rgb(23, 64, 10,  );
        transform: translateX(-100%);
        transition: transform 0.5s; 
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        nav{
            width: 90%;
            height: 70%;
            text-align: center;
            ul{
                justify-content: space-around;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                li{
                    list-style: none;
                    a{
                        font-size: 30px;
                        font-family: "Montserrat-bold";
                    }
                }
               
            }
        }
        .social_media{
            display: flex;
            width: 100%;
            justify-content: space-around;
            a{
                i{
                    color: #ff994b;
                    font-size: 60px;
                }
            }
        }
    }
    
}

.active {
    transform: translateX(0)!important;
    span:nth-of-type(1) {
        display: none;
    }
    span:nth-of-type(2) {
    top: calc(50% - (-3px))!important;
    transform: translate(-50%, 0%) rotate(46deg);  
    }
    span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-46deg); 
    }
}   
// MAIN
main{
    width: auto;
    height: fit-content;
    padding-top: 100px; 
    color: #fff;
    .desicions{
        width: 80%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        .text{
            display: flex;
            align-items: center;
            width: fit-content;
            margin: 100px auto;
            h1{
                color: #fff;
                font-size: 40px;
                line-height: 45px;
                margin: 0 10px;  
                font-family: "Montserrat-bold";
                &:nth-child(2){
                    color: orange;
                }
            }
            
        }
        .desicion_cards{
            width: 90%;
            margin: 50px auto;
            display: grid;
            grid-template-columns: repeat(3,33.333333%);
            row-gap: 30px;
            column-gap: 0;
            grid-template-rows: repeat(2, 50%);
            height: auto;
            .card{
                width: 90%;
                height: 100%;
                background-color: #212121;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                img{
                    width: 100%;
                    height: auto;
                }
                .card_title{
                    text-align: center;
                    p{
                        color: rgb(255, 255, 255);
                        font-size: 18px;
                        font-family: "Montserrat-bold";
                    }
                    button{
                        padding: 15px 30px;
                        background-color: #ff882c;
                        width: fit-content;
                        font-size: 15px;
                        font-family: "Montserrat-bold";
                        margin-top: 20px;
                        border-radius: 5px;
                        color: rgb(0, 0, 0);
                        border: none;
                        cursor: pointer;
                        &:hover{
                            background-color: #a24c0b;
                            transition: .3s;
                        }
                    }
                }
            }
        }
        .modal_window{
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            z-index: 100;
            align-items: center;
            .window{
                background-color: #fff;
                height: auto;
                width: 70%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                border-radius: 20px;
                img{
                    width: 100%;
                }
            }
            @media (max-width:550px) {
                .window{
                    width: 99%;
                }
            }
            @media (max-width:425px) {
                .window{
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    height: 60vh;
                    img{
                        width: 100%;
                    }
                    .window_title{
                        width: 90%;
                    }
                }
            }
        }
        .hidden{
            display: none;
        }
        @media (max-width:768px) {
            .desicion_cards{
                display: flex;
                flex-direction: column;
                .card{
                    margin: 0 auto;
                }
            }
            .text{
                margin: 0 auto;
                flex-direction: column;
            }
        }
        @media (max-width:550px){
            .desicion_cards{
                display: flex;
                flex-direction: column;
                .card{
                    padding-bottom: 10px;
                    .card_title{
                        button{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

    }
    @media (max-width:505px) {
        .desicions{
            width: 95%;
        }
    }
    .job_imgs{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        .imgs_title{
            display: flex;
            width: auto;
            margin-top: 150px;
            h1{
                font-size: 40px;
                margin-left: 7px;
                font-family: "Montserrat-bold";
                &:first-child{
                    margin: 0;
                }
                &:nth-child(2){
                    color: orange;
                }
            }

        }
        @media (max-width:450px) {
            .imgs_title{
                flex-direction: column;
                align-items: center;
            }
        }
        .image_cards{
            width: 100%;
            margin-top: 50px;
            height: 80%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);
            gap: 15px;
            .img_card{
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: 100%;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                &:nth-child(1){
                    background-image: url(../images/img_card1.png);
                        .card_bg{
                                &:hover{
                                    background-image: url(../images/img_change1.png);
                                    transition: .7s;
                                    background-repeat: no-repeat;
                                    background-position: center ;
                                    background-size: cover;
                                }
                        }  
                }
                &:nth-child(2){
                    background-image: url(../images/img_card2.png);
                    .card_bg{
                        &:hover{
                            background-image: url(../images/img_change2.png);
                            transition: .7s;
                            background-repeat: no-repeat;
                            background-position: center ;
                            background-size: cover;
                        }
                }  
                }
                &:nth-child(3){
                    background-image: url(../images/img_card3.png);
                    .card_bg{
                        &:hover{
                            background-image: url(../images/img_change3.png);
                            transition: .7s;
                            background-repeat: no-repeat;
                            background-position: center ;
                            background-size: cover;
                        }
                }  
                }
                &:nth-child(4){
                    background-image: url(../images/img_card4.png);
                    .card_bg{
                        &:hover{
                            background-image: url(../images/img_change4.png);
                            transition: .7s;
                            background-repeat: no-repeat;
                            background-position: center ;
                            background-size: cover;
                        }
                }  
                }
                &:hover{
                    transform: translate(0px, 5px);
                    transition: .3s;
                    box-shadow: 10px 10px 10px rgba(94, 94, 94, 0.3);
                }
                .card_bg{
                    position: relative;
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    .card_title{
                        width: 100%;
                        height: auto;
                        padding-bottom: 10px;
                        padding-top: 20px;
                        position: absolute;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.7);
                        h2{
                            color: #ffffff;
                        }
                    }
                }  
                
            }
            
            
        }
        @media (max-width:768px) {
            .image_cards{
                display: flex;
                flex-direction: column;
                height: 100%;
                
            }
        }
        @media (max-width:320px) {
            .image_cards{
                display: flex;
                flex-direction: column;
                height: 100%;
                .img_card{
                    height: 30%;
                }
            }
        }
        
    } 
    @media (max-width:767.9px) {
        .job_imgs{
            height: 190vh;
        }
    }
    
}

// FOOTER
footer{
    width: 100%;
    height: auto; 
    .footer_container{
        width: 100%;
        margin-top: 100px;
        color: #fff;
        .footer_title{
            display: flex;
            margin: 20px auto;
            width: fit-content;
            h1{
                color: #ffffff;
                font-size: 40px;
                margin-left: 10px;
                font-family: "Montserrat-bold";
                &:nth-child(2){
                    color: #ff994b;
                }
            }
        }
        @media (max-width:320px) {
            .footer_title{
                flex-direction: column;
            }
        }
        .footer_description{
            width: 80%;
            margin: 10px auto;
            h1{
                    margin-bottom: 30px;
            }
        }
        @media (max-width:768px) {
            .footer_description{
                width: 95%;
            }
        }
        @media (max-width:425px){
            .footer_description{
               h1{
                font-size: 25px;
               }
            }
        }
    } 
}
